@import "../../Styles/common.scss";

section {
  width: 593px;
  height: 854px;
  margin: 200px auto 0;

  form {
    @extend %flexCenter;
    flex-direction: column;
    width: 303px;
    margin: 0 auto;

    &.login {
      padding-bottom: 40px;
      border-bottom: 1px solid $gray1;
    }

    &.login-order {
      padding-top: 40px;
    }

    h3 {
      margin-bottom: 15px;
      font-size: 24px;
      font-weight: normal;
    }

    & > input {
      width: 100%;
      margin-bottom: 12px;
      padding: 15px;
      border-bottom: 1px solid $gray1;
      font-size: 16px;
    }

    span {
      @extend %flexAlign;
      justify-content: flex-start;
      width: 100%;
      margin-bottom: 26px;
      font-size: 14px;

      .login-check {
        width: 20px;
        height: 20px;
        margin-right: 5px;
      }
    }

    .login-btn {
      width: 100%;
      padding: 15px 0;
      margin: 20px 0;
      background-color: $bm-black;
      color: #fff;
      font-size: 18px;
      font-weight: bold;
      opacity: 0.6;

      &.active {
        opacity: 1;
      }
    }

    .login-sns {
      @extend %flexCenter;
      width: 100%;
      padding: 15px;
      background-color: #4267b2;
      color: #fff;
    }

    .login-search {
      width: 100%;
      margin-top: 10px;
      padding: 10px 0;

      ul {
        @extend %flexCenter;

        li {
          padding: 0 12px 0 15px;
          border-right: 1px solid $gray1;

          a,
          button {
            color: $bm-black;
            font-size: 14px;
          }

          &:last-child {
            border-right: none;
          }
        }
      }
    }
  }
}
