@import '../../Styles/common.scss';

.main {
  margin-top: 200px;
  margin-bottom: 150px;

  section {
    width: $web-width;
    margin: 0px auto;
    padding-bottom: 80px;

    h3 {
      padding: 60px 0 20px;
      font-size: 26px;
    }
    .hot-wrap, .new-wrap, .sale-wrap {
      @extend %flexAlign;
      justify-content: space-between;
      flex-wrap: wrap;

    }
  }

  .recommend-container > div {
    height: auto;
    border: none;
  }
}
