@import '../../../../Styles/common.scss';

.join-stage {
  display: flex;
  justify-content: flex-end;
  width: $web-width;
  margin: 0 auto 20px;
  padding: 20px 10px;
  border-bottom: 1px solid #dcdcdc;
  color: $gray1;
  font-weight: bold;

  ol {
    display: flex;

    li {
      span { margin: 0 15px; }
    }
  }
}