@import '../../../../Styles/common.scss';

.cart-stage {
  @extend %flexAlign;
  justify-content: space-between;
  width: $web-width;
  margin: 0 auto 20px;
  padding: 20px 10px;
  border-bottom: 1px solid #dcdcdc;
  font-weight: bold;

  ol {
    @extend %flexAlign;
    color: $gray1;

    li {
      span { margin: 0 15px; }
    }
  }
}