@import '../../Styles/common.scss';

.Item{
  display: inline-block;
  .item_list{
    margin: 20px 0px;
    .item_cont{
      padding: 0px 10px;
      .item_photo_box{
        overflow: hidden;
        width: 250px;
        height: 340px;
      }
      .item_info{
        line-height: 1.7;
        font-size: 13px;
        font-family: 'Montserrat', sans-serif;
        .item_info_sale span{
          font-size: 20px;
          color: $bm-sale;
          font-weight: 600;
          font-family: 'Montserrat';
        }
      }
      .item_money_box{
        display: flex;
        flex-direction: column;
        line-height: 1;
        .money_sale_line {
          text-decoration: line-through;
          font-size: 12px;
          color: #888;
          font-family: initial;
        }
        .finally_money{
          font-weight: bold;
          font-size: 16px;
          font-family: 'Montserrat';
        }
      }
    }
  }
}

.item_tit_box strong{
  color: $bm-black;
}