@import '../../../Styles/common.scss';

.exit-join {
  margin-top: 200px;
  margin-bottom: 100px;

  .join-stage {
    li:nth-child(3) {
      color: #000000;
    }
  }

  h1 {
    margin: 200px 0;
    text-align: center;
  }
}