@import '../../Styles/common.scss';

.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  height: 200px;
  background: #ffffff;
  border-bottom: 2px solid $gray0;
  z-index: 200;

  header{
    height: 40px;
    border-bottom: 2px solid $gray0;

    .nav-header-wrap {
      @extend %flexAlign;
      justify-content: flex-end;
      width: $web-width;
      height: 100%;
      margin: 0 auto;

      ul {
        @extend %flexCenter;
        height: 100%;
  
        li {
          position: relative;
          height: 100%;
          padding: 0 10px;
          font-size: 12px;
          font-weight: 600;

          a {
            @extend %flexCenter;
            height: 100%;
            color: $gray2;
            .cart-count {
              color: $bm-beach;
              margin-left: 5px;
              font-size: 10px;
            }
          }

          &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            width: 1px;
            height: 6px;
            background: $gray1;
            transform: translateY(-50%);
          }

          &:last-child::after {
            display: none;
          }
        }
      }
    }
  }

  section {
    height: 105px;

    .nav-section-wrap {
      @extend %flexCenter;
      width: $web-width;
      height: 100%;
      margin: 0 auto;

      a {
        @extend %flexAlign;
        width: 160px;
        height: 100%;
        margin: 0 auto;

        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }

  footer {
    height: 55px;

    ul {
      @extend %flexCenter;
      width: $web-width;
      height: 100%;
      margin: 0 auto;

      li {
        height: 100%;

        a {
          @extend %flexCenter;
          height: 100%;
          padding: 0 30px;
          margin: 0 20px;
          color: $bm-black;
        }

        &.focus a {
          border-bottom: 2px solid $bm-beach;
          color: $bm-beach;
          font-weight: bold;
          transition: all .2s ease;
        }
        &.focus:hover a {
          color: initial;
        }
      }
    }
  }
}

