@import '../../Styles/common.scss';

.footer {
  width: 100%;
  padding-bottom: 80px;
  background: $gray0;

  .footer-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: $web-width;
    padding-top: 30px;
    margin: 0 auto;

    .footer-logo {
      @extend %flexCenter;
      width: 290px;

      img {
        width: 100px;
        object-fit: cover;
      }
    }

    .footer-context {
      margin-left: 15px;

      ul {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 30px;

        li {
          margin-right: 55px;

          a {
            color: $bm-black;
            font-size: 14px;
            font-weight: bold;
          }
        }
      }

      .footer-info-row, .copyright {
        color: $gray2;
        font-size: 12px;
        line-height: 1.5;
        * {
          display: inline-block;
        }

        dl {
          position: relative;
          margin-right: 17px;
          margin-bottom: 3px;
          dt {
            margin-right: 3px;
          }
          &::after {
            content: '|';
            position: absolute;
            right: -10px;
          }
          &:last-child::after {
            display: none;
          }

          a {
            color: $gray2;
            text-decoration: underline;
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}